.max-width {
   max-width: 1400px;
   margin: 0 auto;
}

:root {
   --border: 1px solid rgba(0, 0, 0, 0.1);
}

#back-to-top {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   position: fixed;
   bottom: 70px;
   right: 55px;
   z-index: 99;
   height: 40px;
   width: 40px;
   color: blue;
   opacity: 0;
   visibility: hidden;
   transition: opacity 0.5s ease-in-out;
   cursor: pointer;
}

#back-to-top.show {
   opacity: 0.3;
   visibility: visible;
}

#back-to-top.show:hover {
   opacity: 0.9;
}
