.nav-bar {
   display: flex;
   flex-direction: column;
   font-family: "Noto Serif KR", serif;
   font-size: 17px;
   align-items: center;
   background-color: #f3f2ed;
   z-index: 100;
   width: 100%;
   position: fixed;
   top: 0;
}

.nav-bar__logo__img,
.index-nav-bar__img {
   width: 130px;
   height: 45px;
   background-image: url("../../img/logo_text.png");
   background-size: cover;
   background-position: center;
}

.index-nav-bar__logo {
   width: 150px;
   height: 70px;
   background-image: url("../../img/logo-removebg-preview.png");
   background-size: cover;
   background-position: center;
   margin: 15px auto 5px auto;
}

.nav-bar__menu {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.nav-bar__left {
   display: flex;
   height: 65px;
   justify-content: center;
   align-items: center;
}

.nav-bar__left li {
   margin: 0px 25px;
}

.nav-bar__division {
   margin: 0px 20px;
}

.nav-bar__right {
   display: flex;
   height: 65px;
   justify-content: center;
   align-items: center;
   margin-right: 65px;
}

.nav-bar__right li {
   margin: 0px 30px;
}

.nav-bar__icon {
   display: flex;
   height: 65px;
}

.nav-bar__icon li {
   height: 100%;
   display: flex;
   align-items: center;
   margin: 0px 19px;
}

.nav-bar__icon a {
   width: 100%;
}

.nav-bar__icon img {
   display: block;
   width: 35px;
}

.nav-bar__division {
   height: 25px;
   width: 2px;
   background-color: black;
   opacity: 0.1;
}
