.nav-bar {
   display: flex;
   flex-direction: column;
   font-family: "Noto Serif KR", serif;
   font-size: 17px;
   align-items: center;
   background-color: #f3f2ed;
   z-index: 100;
   width: 100%;
   position: fixed;
   top: 0;
}

/* todo : 코드 구조 정리 */
.sub-nav {
   height: 80px;
}

.nav-bar__logo__img,
.index-nav-bar__img {
   width: 130px;
   height: 45px;
   background-image: url("../../img/logo_text.png");
   background-size: cover;
   background-position: center;
}

.index-nav-bar__logo {
   width: 150px;
   height: 70px;
   background-image: url("../../img/logo-removebg-preview.png");
   background-size: cover;
   background-position: center;
   margin: 15px auto 5px auto;
}

.nav-bar__menu {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

/* todo : 코드 구조 정리 */
.nav-bar__left {
   display: flex;
   height: 65px;
   justify-content: center;
   align-items: center;
}

/* todo : 코드 구조 정리 */
.nav-bar__left li {
   padding: 0px 25px;
   /* width: 100px; */
}

.nav-bar__division {
   margin: 0px 20px;
}

/* todo : 코드 구조 정리 */
.nav-bar__right {
   display: flex;
   height: 65px;
   justify-content: center;
   align-items: center;
   margin-right: 65px;
}

/* todo : 코드 구조 정리 */
.nav-bar__right li {
   padding: 0px 30px;
}

.nav-bar__icon {
   display: flex;
   height: 65px;
}

.nav-bar__icon li {
   height: 100%;
   display: flex;
   align-items: center;
   margin: 0px 19px;
}

.nav-bar__icon a {
   width: 100%;
}

.nav-bar__icon img {
   display: block;
   width: 35px;
}

.nav-bar__division {
   height: 25px;
   width: 2px;
   background-color: black;
   opacity: 0.1;
}

.dropdown-toggle::after {
   display: none;
}

.dropdown-menu {
   border: none;
   text-align: center;
   font-size: 17px;
   transform: translate(-51px, 20px) !important;
   box-shadow: 0 0 4px 3px #c8b9b6;
   padding: 5px 0 !important;
}

.dropdown-item {
   padding: 11px 0 !important;
}

.dropdown:hover .dropdown-menu {
   display: block;
   margin-top: 0;
}

/* todo : 코드 구조 정리 */
.dropdown-menu-edit {
   transform: translate(-62px, 20px) !important;
}
