.card {
   border: none;
}

.card-title {
   font-family: "Noto Serif KR", serif;
}

.card-explain {
   font-family: "Noto Sans KR", sans-serif;
}

.perfume-card__collection {
   display: flex;
   justify-content: center;
}

.perfume-card__body {
   text-align: center;
}

.perfume-card img,
.perfume-card .new-card-img {
   margin-bottom: 15px;
}

/* 이 달의 향수 section */

.month-perfume .perfume-card:nth-child(2) {
   margin: 0px 50px;
}

.month-perfume {
   margin-bottom: 85px;
}

.month-card-title {
   font-weight: 300;
   font-size: 23px;
}

.month-card-explain {
   font-weight: 200;
   text-align: center;
   line-height: 1.6;
   padding: 10px 0px 14px 0px;
}

/* 베스트 셀러 section */

.bestseller-perfume__wrapper {
   background-color: #f3f2ed;
   width: 100%;
   height: 700px;
}

.bar {
   height: 12px;
   width: 25px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.bestseller-perfume {
   margin-bottom: 85px;
}

/* 새로 입고된 상품 section */

.new-perfume {
   margin-bottom: 100px;
}

.new-card-img {
   height: 400px;
   width: 400px;
   background-image: url(https://perfumegraphy.com/web/product/medium/201903/ec55f2a32d59593465c8a31fb409d203.jpg);
   background-size: cover;
   background-position: center;
   margin: 0 auto;
   position: relative;
}

.new-card-title {
   font-size: 19px;
   font-weight: 300;
   display: flex;
   justify-content: center;
   align-items: center;
}

.new-card-title a img {
   width: 23px;
   height: 23px;
   opacity: 0.3;
   margin: 0px 0px 0px 7px;
}

.new-card-explain {
   font-weight: 200;
   padding: 7px 0px 15px 0px;
   opacity: 0.7;
   font-family: "Noto Sans KR", sans-serif;
   font-weight: 200;
   line-height: 1.6;
}

.new-card-price__cover {
   font-size: 15px;
   text-decoration: line-through;
   font-weight: 300;
}

.review {
   font-family: "Noto Sans KR", sans-serif;
   font-size: 13px;
   font-weight: 200;
}

.new-card__body {
   display: flex;
   flex-direction: column;
}

.new-card-price__discount {
   padding: 10px 0px 12px 0px;
   font-family: "Noto Sans KR", sans-serif;
   font-weight: 400;
}

.price-discount__percent {
   background-color: black;
   width: 70px;
   height: 70px;
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 0.7;
   position: absolute;
   top: 10px;
   right: -2px;
}

.price-discount__percent span {
   color: white;
   font-weight: 600;
}

.new-card__wrapper {
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.new-perfume-card__collection {
   flex-wrap: wrap;
}

.new-card__wrapper:first-child {
   margin-bottom: 60px;
}
