.signup {
   margin-top: 215px;
}

.signup-wrapper {
   margin: 0 auto;
   max-width: 950px;
   width: 100%;
}

.signup-title {
   font-family: "Noto Serif KR", serif;
   font-size: 34px;
   text-align: center;
   padding: 100px 0 50px 0;
}

.signup-kind__td,
.signup-add-sex__td,
.signup-add-pass__td {
   display: flex;
   align-items: center;
}

#private-member,
#signup-man,
#signup-woman {
   margin-right: 7px;
}

.signup-kind__th {
   padding: 20px 0 15px 0;
}

.signup-add-sex__th,
.signup-add-pass__th {
   padding: 15px 0 10px 0;
}

.signup-basicinfo,
.signup-addinfo,
.signup-agree {
   font-family: "Noto Sans KR", sans-serif;
   font-size: 20px;
   padding: 50px 0 10px 0;
   text-align: start;
}

.signup-addinfo {
   padding-bottom: 27px;
}

.signup-required {
   font-family: "Noto Sans KR", sans-serif;
   font-weight: 300;
   opacity: 0.8;
   font-size: 14px;
   text-align: end;
   margin: -17px 0 5px 0;
}

.signup-submit {
   height: 50px;
   width: 180px;
   font-size: 13px;
   color: white;
   font-weight: 400;
   background-color: #222222;
   font-family: "Noto Sans KR", sans-serif;
   border: none;
   border-radius: 5px;
   margin-top: 30px;
}

.signup-add-pass__td input {
   border: 1px solid rgba(0, 0, 0, 0.1);
   border-radius: 5px;
   height: 35px;
   width: 500px;
}
